<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/libs/MDBFree/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/MDBFree/css/mdb.min.css">
    <link rel="stylesheet" href="/libs/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/libs/froala/css/froala_editor.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>DenisX's Blog</title>
</head>